.container {
  background: var(--semi-dark-blue);
  height: 3.5rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container > :first-child {
  width: 1.5625rem;
}

.group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.link,
.active {
  height: 1rem;
  width: 1rem;
}

.link img,
.active img {
  height: 1rem;
  width: 1rem;
}

.avatar {
  height: 1.5rem;
  aspect-ratio: 1;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  width: 100%;
}

.login {
  color: var(--pure-white);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/* used codepen to get filter values to change image svg color */

.group > .active {
  filter: brightness(0) saturate(100%) invert(99%) sepia(36%) saturate(2%)
    hue-rotate(86deg) brightness(114%) contrast(100%);
}

@media (hover: hover) {
  .group > .link:hover {
    filter: brightness(0) saturate(100%) invert(43%) sepia(90%) saturate(1898%)
      hue-rotate(332deg) brightness(98%) contrast(102%);
  }
  .login:hover {
    color: var(--red-color);
  }
}

@media (max-width: 17.5rem) {
  .container {
    justify-content: center;
    gap: 1.5rem;
  }
  .container > :first-child {
    display: none;
  }
}

@media (min-width: 48rem) {
  .header {
    padding-top: 1.4375rem;
    padding-inline: 1.5625rem;
  }
  .container {
    height: 4.5rem;
    border-radius: 0.625rem;
  }
  .container > :first-child {
    width: 2rem;
  }
  .group {
    gap: 1.85rem;
  }
  .link,
  .active {
    height: 1.25rem;
    width: 1.25rem;
  }
  .link img,
  .active img {
    height: 1.25rem;
    width: 1.25rem;
  }
  .avatar {
    height: 2rem;
    aspect-ratio: 1;
  }
}

@media (min-width: 70rem) {
  .header {
    /* width: 10.25rem; */
    padding: 2rem 2.25rem 2rem 2rem;
  }
  .container {
    height: 60rem;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
  }
  .container > :first-child {
    width: 2rem;
    justify-self: center;
  }
  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    align-self: flex-start;
    padding-top: 4.75rem;
  }
  .avatar {
    height: 2.5rem;
    aspect-ratio: 1;
    justify-self: center;
  }
  .login {
    justify-self: center;
  }
}
